<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var jsonData = $.ajax({
          url: "/count-by-date/",
          dataType: "json",
          async: false
        }).responseJson;
        var data = new google.visualization.DataTable(jsonData);
        data.addColumn('string', 'date');
        data.addColumn('number', 'count');
        arr = []
        for (const [key, value] of Object.entries(jsonData)){
          arr.push([key, value]);
        }
        data.addRows(arr);
        var options = {
          "title":"By date",
          "width":400,
          "height":300
        };
        var chart = new google.visualization.BarChart(document.getElementById("chart_div"));
        chart.draw(arr, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div"></div>
  </body>
</html>
